[submodule "third_party/android/capstone"]
	path = third_party/android/capstone
	url = https://github.com/aquynh/capstone
	branch = 4.0.2
[submodule "third_party/android/libunwind"]
	path = third_party/android/libunwind
	url = https://github.com/libunwind/libunwind.git
	branch = v1.6.2
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/clickhouse-cpp"]
	path = third_party/clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
